body {
    background: #F7F9FA;
}

.header {
    padding-top: 30px;
    width: 60%;
    margin: auto;
}

.footer {
    padding-bottom: 30px;
}

.container {
    width: 40%;
}


.doctors a:hover{
    text-decoration: none;
}

a .doctor {
    color: black;
}

.doctor {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: rgb(196, 196, 196);
    margin: 30px 0px;
    padding: 30px 50px;
    font-weight: 500;
    font-size: 1.2em;
    background: white;
}

.doctor:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}